*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
}

header{
    background:#003366;
    color:white;
    text-align:center;
    padding:40px;
}

.search-section{
    text-align:center;
    margin:30px;
}

.search-section input{
    width:70%;
    max-width:500px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.books{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:20px;
}

.book-card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
}

.book-card a{
    display:inline-block;
    background:#003366;
    color:white;
    text-decoration:none;
    padding:10px 20px;
    border-radius:6px;
}

footer{
    text-align:center;
    margin-top:40px;
    padding:20px;
    background:#003366;
    color:white;
}
